.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #00bcd4;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
